<!DOCTYPE html>
<html>
<head>
  <title>stormyflower</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "GGS" if Rails.env.development? %>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='initial-scale = 1.0, user-scalable=no'>
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
  <%= render 'shared/flash', :flash => flash %>
  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</body>
</html>
