<!DOCTYPE html>
<html>
<head>
  <title>BetterVideoPlaylist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://www.youtube.com/iframe_api" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <center>
      <%= yield %>
    </center>
  </div>

</body>
</html>
